/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# don't ship .env, use .env.sample
.env
# test.txt is for locally testing file sending, we don't need it in the git repository
test.txt
