/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# don't ship .env, use .env.sample
.env
# distools.log is where logs of DEBUG level get outputted to. could expose something, DO NOT SHIP
distools.log
# mongod.logs is mongoDB logs
mongod.logs
